* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff");
  src: url("../fonts/HKGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("../fonts/HKGrotesk-SemiBold.woff") format("woff");
  src: url("../fonts/HKGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("../fonts/HKGrotesk-Bold.woff") format("woff");
  src: url("../fonts/HKGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

button:focus {
  outline: none;
}

.container {
  width: 1140px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #183B56;
}

.hashtag {
  background-color: rgba(54, 179, 126, 0.1);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #36B37E;
  border-radius: 2000px;
  padding: 6px 16px;
}

.invalid, .error {
  color: #692424;
  text-transform: capitalize;
}

label {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  margin-top: 5px;
}

.error#name-error {
  top: 107px;
  left: 0;
}

.error#phone-error {
  top: 107px;
  left: 283px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  padding-bottom: 36px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  background-color: #ffffff;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 605px;
}

.header-menu__link {
  text-decoration: none;
  color: #183B56;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.header-menu__button {
  border: 2px solid #1565D8;
  border-radius: 8px;
  padding: 11px 22px;
  background-color: transparent;
  color: #1565D8;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  min-height: 47px;
}

.header-menu__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-menu__button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-menu__menu-button {
  display: none;
}

.hero {
  margin-bottom: 120px;
}

.hero-container {
  width: 1280px;
  margin: auto;
  background-color: #E8EAE9;
  border-radius: 8px;
  background-image: url(../img/hero-bg.png);
  background-position-x: 392px;
  background-position-y: -340px;
  background-repeat: no-repeat;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url(../img/liner.svg) 385px center no-repeat;
  background-repeat: repeat;
  padding-left: 107px;
}

.hero__hashtag {
  padding: 6px 16px;
  margin-bottom: 28px;
  margin-top: 62px;
}

.hero__titel {
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin: 0 0 28px 0;
  width: 474px;
}

.hero__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  margin: 0 0 52px 0;
  max-width: 600px;
}

.hero__button {
  padding: 16px 40px 15px 40px;
  background-color: #183B56;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: none;
  border-radius: 8px;
  margin-bottom: 48px;
  cursor: pointer;
}

.hero__button:hover {
  background: transparent;
  color: #183B56;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero__button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hero-payment {
  margin-bottom: 46px;
}

.hero-payment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: raw;
          flex-direction: raw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-payment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  width: 36px;
  border: 0.75px solid rgba(21, 101, 216, 0.1);
  border-radius: 12px;
  margin-right: 8px;
}

.hero-payment__img {
  width: 22px;
  height: 22px;
  border: 0.7px dashed #5A7184;
}

.hero-payment__text {
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-right: 30px;
}

.collection {
  margin-bottom: 145px;
}

.collection-container {
  width: 1140px;
  margin: auto;
}

.collection-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.collection-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-right: 58px;
  -ms-flex-preferred-size: 59%;
      flex-basis: 59%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.collection-block__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  height: 490px;
  overflow: hidden;
  margin-right: 30px;
  border-radius: 8px;
}

.collection-block__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 490px;
}

.collection-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  height: 230px;
  overflow: hidden;
  border-radius: 8px;
}

.collection-block__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.collection-info__titel {
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  margin-top: 10px;
  margin-bottom: 24px;
  color: #183B56;
}

.collection-info__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 37px;
  margin-top: 0;
}

.collection-info__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: #1565D8;
  background: none;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 0;
}

.collection-info__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.collection-info__button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.collection__arrow {
  margin-left: 28px;
}

.trending {
  margin-bottom: 105px;
}

.trending-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

.trending__titel {
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin: 0;
}

.trending__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 70px 0 0;
  width: 366px;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  padding: 0;
  color: #5A7184;
}

.trending__item {
  cursor: pointer;
}

.trending__item--active {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #183B56;
}

.trending-ware {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.trending-ware--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending-ware__product-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.trending-ware__product-cell_hidden {
  display: none;
}

.trending-ware__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.trending-ware__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending-ware__titel {
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-bottom: 3px;
  margin-top: 0;
  margin-left: 10px;
}

.trending-ware__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trending-ware__price {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  margin-left: 10px;
}

.trending-ware__cart {
  margin-right: 10px;
}

.trending-ware__wrapper {
  width: 260px;
  height: 441px;
}

.trending-ware__see-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  height: 350px;
  background-color: #1565D8;
  border-radius: 8px;
}

.trending-ware__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  background-color: transparent;
}

.trending-ware__plus {
  margin-bottom: 35px;
}

.trending-ware__text {
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.2px;
  margin: 0 74px;
}

.testimonial {
  padding-bottom: 80px;
}

.testimonial-slider {
  max-width: 800px;
  margin: auto;
}

.testimonial-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial__item {
  margin-bottom: 16px;
  width: 80px;
  height: 92px;
}

.testimonial__quote {
  width: 100%;
}

.testimonial__text {
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.133333px;
  color: #5A7184;
  margin: 0 0 28px 0;
}

.testimonial__titel {
  font-family: 'HK Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #183B56;
  margin: 0 0 53px 0;
}

.testimonial__titel_hidden {
  display: none;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
}

.swiper-pagination-bullet-active {
  background-color: #183B56;
}

.stories {
  padding-bottom: 159px;
}

.stories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-top: 1px solid #E5E5E5;
  padding-top: 121px;
}

.stories__hashtag {
  max-width: 88px;
  margin-bottom: 28px;
  margin-top: 0;
}

.stories-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 96px;
  max-width: 392px;
}

.stories-info__titel {
  margin: 0 0 7px 0;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  max-width: 288px;
}

.stories-info__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  margin-bottom: 42px;
}

.stories__slide {
  width: 652px;
  height: 458px;
  margin-top: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.stories-slide__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.stories-slide__wrapper--1 {
  display: none;
}

.stories-slide__item {
  max-width: 312px;
  height: 317px;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}

.stories-slide__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stories-slide__info {
  background-color: #ffffff;
  padding: 20px 32px 20px 20px;
  width: 312px;
  position: absolute;
  top: 63%;
  left: 10px;
}

.stories-slide__titel {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

.stories-slide__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1565D8;
}

.stories__button {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background: transparent;
  cursor: pointer;
}

.stories__button--prev {
  border: 2px solid #5A7184;
  position: absolute;
  top: 82%;
  right: 95%;
  background-image: url("../img/arrow-prev.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.stories__button--next {
  border: 2px solid #5A7184;
  position: absolute;
  top: 82%;
  right: 88%;
  background-image: url("../img/arrow-next.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.newsletter {
  background-color: #1565D8;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.newsletter__bg_1 {
  position: absolute;
  top: -515px;
  left: -738px;
  width: 1170px;
  height: 954px;
  border: 229px solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}

.newsletter__bg_2 {
  position: absolute;
  bottom: -515px;
  right: -738px;
  width: 1170px;
  height: 954px;
  border: 229px solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}

.newsletter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1073px;
}

.newsletter-info {
  max-width: 486px;
}

.newsletter-info__titel {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 14px;
}

.newsletter-info__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

.newsletter__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 447px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.newsletter__subscribe-wrapper {
  width: 100%;
}

.subscribe {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #C3CAD9;
  position: relative;
}

.subscribe__input {
  background-image: url("../img/email.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  border: none;
  padding: 17px 20px 17px 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border-radius: 8px;
}

.subscribe__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #183B56;
  padding: 12px 24px 11px 24px;
  border-radius: 4px;
  border: none;
  margin: 4px;
  cursor: pointer;
}

.footer {
  padding-top: 128px;
  padding-bottom: 89px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 984px;
  margin-bottom: 95px;
}

.footer-info {
  margin-right: 70px;
}

.footer-info__logo {
  margin-bottom: 25px;
}

.footer-info__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #5A7184;
  margin: 0 0 32px 0;
  width: 212px;
}

.footer-info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 185px;
}

.footer-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer__titel {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 31px;
  text-transform: capitalize;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-bottom: 24px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
  cursor: pointer;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-bottom__img {
  margin-bottom: 24px;
}

.footer-bottom__info {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
}

@-webkit-keyframes Button {
  -webkit-transform: scale(2);
          transform: scale(2);
}

@keyframes Button {
  -webkit-transform: scale(2);
          transform: scale(2);
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hero {
    margin-bottom: 80px;
  }
  .hero-container {
    width: 90%;
    background-position-x: 200px;
  }
  .hero-wrapper {
    background-position-x: 197px;
    padding-left: 80px;
  }
  .collection-container {
    max-width: 960px;
  }
  .collection-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .collection-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    margin-right: 0;
  }
  .collection-block__left {
    width: 322px;
    margin-right: 50px;
  }
  .collection-info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trending-ware__product-cell_hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .stories-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 79px;
    max-width: 100%;
  }
  .stories-info {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-right: 0;
  }
  .stories-info__titel {
    max-width: 100%;
    margin-bottom: 16px;
  }
  .stories-info__text {
    margin: 0;
  }
  .stories__slide {
    margin-top: 164px;
  }
  .stories-slide {
    width: 754px;
  }
  .stories-slide__card {
    margin-right: 6px;
  }
  .stories-slide__wrapper {
    width: 322px;
  }
  .stories-slide__item {
    max-width: 322px;
  }
  .stories__button {
    margin-bottom: 0;
  }
  .stories__button--prev {
    top: 31%;
    right: 55%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  .stories__button--next {
    top: 31%;
    right: 45%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
}

@media (max-width: 1300px) {
  .hero-container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .header-menu__button:hover {
    -webkit-transform: none;
            transform: none;
  }
  .header-menu__button:active {
    -webkit-transform: none;
            transform: none;
  }
  .hero-container {
    background-position-x: 100px;
  }
  .hero-wrapper {
    padding-left: 50px;
    background-position-x: 90px;
  }
  .hero__titel {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    width: 410px;
  }
  .hero__text {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 36px;
    width: 400px;
  }
  .hero__button:hover {
    background-color: #183B56;
    color: #ffffff;
    -webkit-transform: none;
            transform: none;
  }
  .hero__button:active {
    -webkit-transform: none;
            transform: none;
  }
  .collection {
    margin-bottom: 80px;
  }
  .collection-container {
    max-width: 720px;
  }
  .collection-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .collection-block__left {
    margin-right: 5%;
  }
  .collection-info__titel {
    margin-top: 0;
  }
  .collection-info__button:hover {
    -webkit-transform: none;
            transform: none;
  }
  .collection-info__button:active {
    -webkit-transform: none;
            transform: none;
  }
  .trending {
    margin-bottom: 80px;
  }
  .trending__list {
    margin: 0;
  }
  .trending-navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trending__titel {
    margin-bottom: 28px;
  }
  .trending-ware__product-cell_hidden {
    display: none;
  }
  .trending-ware__item {
    width: 280px;
  }
  .stories {
    padding-bottom: 88px;
  }
  .stories-slide__card {
    margin-right: -1px;
  }
  .stories-slide__wrapper {
    margin-left: 6%;
  }
  .stories__button--prev {
    top: 33%;
  }
  .stories__button--next {
    top: 33%;
  }
  .newsletter {
    padding-top: 72px;
    padding-bottom: 80px;
    background-size: 50%;
    background-position: -80px top, 500px bottom;
  }
  .newsletter__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter-info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin-bottom: 60px;
  }
  .newsletter__subscribe-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .footer-wrapper {
    margin-bottom: 60px;
  }
  .footer-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-produckt, .footer-services, .footer-company, .footer-more {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin-bottom: 48px;
  }
  .footer-company, .footer-more {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 102px;
  }
  .container {
    max-width: 85%;
  }
  .header {
    padding-top: 8px;
    padding-bottom: 29px;
    background-color: #ffffff;
  }
  .header__mobile_fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
  }
  .header-menu {
    height: 65px;
  }
  .header-menu__list {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 18px;
    background-color: #ffffff;
    border: 1;
    width: 95%;
    margin: auto;
  }
  .header-menu__list_visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 350px;
    overflow: scroll;
    padding: 36px 32px 0 32px;
  }
  .header-menu__item {
    margin-bottom: 20px;
    width: 100%;
  }
  .header-menu__button {
    width: 100%;
  }
  .header-menu__menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 20px;
    padding: 0;
  }
  .menu-button {
    display: block;
    position: absolute;
    right: 35px;
    top: 40px;
    width: 30px;
    height: 2px;
    background-color: #183B56;
    border: none;
    cursor: pointer;
  }
  .menu-button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: #183B56;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    margin-top: -7px;
  }
  .menu-button:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: #183B56;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    margin-top: 7px;
  }
  .menu-button--active {
    height: 0;
  }
  .menu-button--active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 0;
  }
  .menu-button--active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 0;
  }
  .menu-button__line {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #183B56;
    border-radius: 5px;
  }
  .menu-button__line:focus {
    background-color: red;
  }
  .hero {
    padding-bottom: 80px;
    margin: 0;
  }
  .hero-container {
    width: 95%;
    background-position-x: 30px;
    background-position-y: -370px;
  }
  .hero-wrapper {
    padding-left: 28px;
    background-position-x: 25px;
  }
  .hero__hashtag {
    margin-bottom: 24px;
    margin-top: 36px;
  }
  .hero__button {
    margin-bottom: 42px;
  }
  .hero-payment {
    margin-bottom: 36px;
  }
  .hero-payment__text {
    margin-right: 20px;
  }
  .collection-wrapper {
    max-width: 672px;
    margin-left: -11px;
    overflow: visible;
  }
  .collection-block {
    margin-bottom: 34px;
  }
  .collection-block__item {
    max-width: 320px;
    max-height: 230px;
  }
  .collection-info__text {
    margin-bottom: 28px;
  }
  .trending {
    margin-bottom: 39px;
  }
  .trending-ware {
    max-width: 608px;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .trending-ware__product-cell {
    margin-right: 9px;
  }
  .testimonial {
    padding-bottom: 80px;
  }
  .testimonial-slider {
    max-width: 700px;
  }
  .testimonial__item {
    margin-bottom: 0;
    width: 80px;
    height: 92px;
  }
  .testimonial__text {
    margin-bottom: 36px;
  }
  .testimonial__titel {
    margin-bottom: 41px;
  }
  .testimonial__titel_hidden {
    display: inline-block;
  }
  .stories-info__text {
    max-width: 510px;
  }
  .stories__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 130px;
    width: 693px;
  }
  .stories-slide {
    margin-left: -28px;
  }
  .stories-slide__wrapper {
    margin-left: 0;
  }
  .stories-slide__card {
    margin-right: 4px;
  }
  .stories__button--prev {
    top: 34%;
    right: 56%;
  }
  .stories__button--next {
    top: 34%;
    right: 44%;
  }
  .newsletter__bg_1 {
    left: -963px;
    width: 1241px;
    height: 954px;
    border: 150px solid rgba(255, 255, 255, 0.05);
  }
  .newsletter__bg_2 {
    right: -1126px;
    width: 1241px;
    height: 954px;
    border: 150px solid rgba(255, 255, 255, 0.05);
  }
}

@media (max-width: 760px) {
  .stories {
    padding-bottom: 95px;
  }
  .stories__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 100px;
  }
  .stories-slide__wrapper {
    margin-left: 0;
    height: 468px;
    margin-bottom: 43px;
  }
  .stories-slide__wrapper:last-child {
    margin-bottom: 0;
  }
  .stories-slide__wrapper--1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .stories-slide__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 4px;
    width: 100% !important;
  }
  .stories__button--prev {
    top: 21%;
  }
  .stories__button--next {
    top: 21%;
  }
}

@media (max-width: 680px) {
  .trending-ware {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }
  .footer-info__titel {
    margin-bottom: 20px;
  }
  .footer-info__item {
    margin-bottom: 15px;
  }
  .footer-info__text {
    text-align: center;
    width: 300px;
    margin-bottom: 16px;
  }
  .footer-bottom {
    display: none;
  }
  .footer-blocks {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-produckt, .footer-services, .footer-company, .footer-more {
    margin-bottom: 39px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 540px;
  }
  .header-menu {
    max-width: 540px;
  }
  .hero {
    padding-bottom: 64px;
  }
  .hero-container {
    width: 100%;
    background-position-x: 55%;
  }
  .hero-wrapper {
    width: 100%;
    padding-left: 0;
    background: none;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__hashtag {
    margin-top: 381px;
    padding: 2px 26px;
    margin-bottom: 22px;
  }
  .hero__titel {
    width: 90%;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .hero__text {
    width: 90%;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 21px;
  }
  .hero__button {
    padding: 13px 48px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 17px;
  }
  .hero-payment {
    margin-bottom: 29px;
  }
  .hero-payment__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 264px;
    height: 75px;
  }
  .hero-payment__item {
    width: 22px;
    height: 22px;
  }
  .hero-payment__text:nth-child(4) {
    margin-right: 0;
  }
  .hero-payment__img {
    height: 15px;
    width: 15px;
  }
  .collection {
    margin-bottom: 64px;
  }
  .collection-wrapper {
    margin-left: 0;
  }
  .collection-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-bottom: 0;
  }
  .collection-block__left {
    margin-right: 0;
    max-width: 290px;
    height: 300px;
    margin-bottom: 14px;
  }
  .collection-block__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-bottom: 36px;
  }
  .collection-block__item {
    margin-right: 14px;
    width: 138px;
    height: 97px;
  }
  .collection-block__item:last-child {
    margin-right: 0;
  }
  .collection-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .collection-info__titel {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .collection-info__text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;
    text-align: center;
  }
  .collection-info__button {
    font-size: 16px;
    line-height: 22px;
  }
  .trending {
    margin-bottom: 48px;
  }
  .trending-navbar {
    margin-bottom: 36px;
  }
  .trending__titel {
    font-size: 28px;
    line-height: 36px;
  }
  .trending__list {
    width: 290px;
  }
  .trending__item {
    font-size: 16px;
    line-height: 22px;
  }
  .trending__item--active {
    font-weight: bold;
    color: #183B56;
  }
  .trending-ware {
    min-width: 290px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .trending-ware__product-cell {
    margin-bottom: 25px;
    margin-right: 0;
  }
  .trending-ware__product-cell_hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .trending-ware__item {
    margin-bottom: 13px;
    width: 140px;
    height: 170px;
  }
  .trending-ware__titel {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
  .trending-ware__buy {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trending-ware__price {
    font-size: 14px;
    line-height: 24px;
    margin-right: 9px;
    margin-left: 0;
  }
  .trending-ware__cart {
    width: 12px;
    height: 13px;
  }
  .trending-ware__wrapper {
    width: 140px;
    height: 234px;
  }
  .trending-ware__see-more {
    width: 140px;
    height: 170px;
  }
  .trending-ware__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trending-ware__plus {
    width: 25px;
    height: 32px;
    margin-bottom: 21px;
  }
  .trending-ware__text {
    font-size: 20px;
    margin: 0;
  }
  .testimonial__text {
    font-size: 18px;
    line-height: 36px;
  }
  .testimonial__titel {
    font-size: 20px;
    line-height: 24px;
  }
  .newsletter__bg--1 {
    display: none;
  }
  .newsletter__bg--2 {
    display: none;
    padding: 64px 0;
  }
  .newsletter-info {
    margin-bottom: 37px;
  }
  .newsletter-info__titel {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .newsletter-info__text {
    font-size: 16px;
    line-height: 28px;
  }
  .newsletter__subscribe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: transparent;
    border: none;
    width: 100%;
  }
  .subscribe__input {
    width: 100%;
    margin-bottom: 10px;
    height: 48px;
  }
  .subscribe__button {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    margin: 0;
  }
  .stories {
    padding-bottom: 86px;
  }
  .stories-wrapper {
    padding-top: 49px;
  }
  .stories__hashtag {
    margin-bottom: 24px;
  }
  .stories-info__titel {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .stories-info__text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 36px;
  }
  .stories__slide {
    margin-top: 75px;
  }
  .stories-slide__wrapper {
    margin-left: 0;
    width: 270px;
    height: 388px;
  }
  .stories-slide__card {
    margin-right: 0;
  }
  .stories-slide__item {
    max-width: 270px;
    height: 277px;
  }
  .stories-slide__info {
    top: 67%;
    width: 270px;
    padding: 20px 10px 20px 20px;
  }
  .stories-slide__titel {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 17px;
  }
  .stories-slide__link {
    font-size: 16px;
    line-height: 22px;
  }
  .stories__button {
    width: 48px;
    height: 48px;
  }
  .stories__button--prev {
    right: 61%;
  }
  .stories__button--next {
    right: 38%;
  }
  .newsletter {
    padding-bottom: 60px;
  }
  .newsletter__bg_1 {
    display: none;
  }
  .newsletter__bg_2 {
    display: none;
  }
  .footer {
    padding-top: 50px;
  }
  .footer-info__logo {
    margin-bottom: 10px;
  }
  .footer__titel {
    margin-bottom: 17px;
  }
  .footer__item {
    margin-bottom: 12px;
  }
  .footer-produckt, .footer-services, .footer-company, .footer-more {
    margin-bottom: 43px;
  }
}

@media (max-width: 521px) {
  .trending-ware__product-cell_hidden {
    display: none;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 272px;
    overflow: visible;
  }
  .header {
    padding-top: 0;
    padding-bottom: 24px;
  }
  .header-menu {
    height: 64px;
  }
  .collection-block__left {
    min-width: 290px;
    height: 300px;
  }
  .collection-info {
    margin-left: -9px;
  }
  .collection-info__titel {
    width: 290px;
  }
  .collection-info__text {
    width: 280px;
  }
  .trending {
    margin-bottom: 37px;
  }
  .trending-ware {
    margin: auto;
    margin-left: -9px;
  }
  .trending-ware__product-cell_hidden {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */