@media ( max-width: 1200px)
  .container
    max-width: 960px
  .hero
    margin-bottom: 80px
    &-container
      width: 90%
      background-position-x: 200px
    &-wrapper
      background-position-x: 197px
      padding-left: 80px
  .collection
    &-container
      max-width: 960px
    &-wrapper
      flex-direction: row
      flex-wrap: wrap
    &-block
      justify-content: center
      margin-bottom: 50px
      margin-right: 0
      &__left
        width: 322px
        margin-right: 50px
    &-info
      flex-basis: 100%
      justify-content: center
  .trending
    &-ware
      &__product-cell
        &_hidden
          display: flex

@media ( max-width: 1300px)
  .hero
    &-container
      width: 90%

@media ( max-width: 992px)
  .container
    max-width: 720px
  .header
    &-menu
      &__button
        &:hover
          transform: none
        &:active
          transform: none
  .hero
    &-container
      background-position-x: 100px
    &-wrapper
      padding-left: 50px
      background-position-x: 90px
    &__titel
      font-size: 48px
      line-height: 60px
      margin-bottom: 20px
      width: 410px
    &__text
      font-size: 18px
      line-height: 32px
      margin-bottom: 36px
      width: 400px
    &__button
      &:hover
        background-color: $dark
        color: $light
        transform: none
      &:active
        transform: none
  .collection
    margin-bottom: 80px
    &-container
      max-width: 720px
    &-block
      flex-basis: 100%
      &__left
        margin-right: 5%
    &-info
      &__titel
        margin-top: 0
      &__button
        &:hover
          transform: none
        &:active
          transform: none
  .trending
    margin-bottom: 80px
    &-navbar
      flex-direction: column
    &__titel
      margin-bottom: 28px
    &-ware
      &__product-cell
        &_hidden
          display: none
      &__item
        width: 280px

@media ( max-width: 768px)
  .container
    max-width: 85%
  .header
    padding-top: 8px
    padding-bottom: 29px
    &-menu
      height: 65px
      &__list
        &--hidden
          display: none
      &__menu-button
        display: flex
        justify-content: space-between
        flex-direction: column
        background-color: #ffffff
        border: none
        cursor: pointer
        width: 22px
        height: 20px
        padding: 0
  .menu-button
    &__line
      display: inline-block
      height: 2px
      width: 100%
      background-color: $dark
      border-radius: 5px
  .hero
    padding-bottom: 80px
    margin: 0
    &-container
      width: 95%
      background-position-x: 30px
      background-position-y: -370px
    &-wrapper
      padding-left: 28px
      background-position-x: 25px
    &__hashtag
      margin-bottom: 24px
      margin-top: 36px
    &__button
      margin-bottom: 42px
    &-payment
      margin-bottom: 36px
      &__text
        margin-right: 20px
  .collection
    &-wrapper
      max-width: 672px
      margin-left: -11px
      overflow: visible
    &-block
      margin-bottom: 34px

      &__left
        // flex-basis: 48%
      &__item
        max-width: 320px
        max-height: 230px
    &-info
      &__text
        margin-bottom: 28px
  .trending
    &-ware
      max-width: 608px
      margin: auto

@media ( max-width: 576px)
  .container
    width: 540px
  .header
    &-menu
      max-width: 540px
  .hero
    padding-bottom: 64px
    &-container
      width: 100%
      background-position-x: 55%
    &-wrapper
      width: 100%
      padding-left: 0
      background: none
      text-align: center
      align-items: center
    &__hashtag
      margin-top: 381px
      padding: 2px 26px  
      margin-bottom: 22px
    &__titel
      width: 90%
      font-size: 32px
      line-height: 40px
      margin-bottom: 20px
    &__text
      width: 90%
      font-size: 16px
      line-height: 28px
      margin-bottom: 21px
    &__button
      padding: 13px 48px
      font-size: 16px
      line-height: 22px
      margin-bottom: 17px
    &-payment
      margin-bottom: 29px
      &__wrapper
        flex-wrap: wrap
        justify-content: center
        width: 264px
        height: 75px
      &__item
        width: 22px
        height: 22px
      &__text
        &:nth-child(4)
          margin-right: 0
      &__img
        height: 15px
        width: 15px
  .collection
    margin-bottom: 64px
    &-wrapper
      margin-left: 0
    &-block
      flex-direction: column
      align-items: center
      justify-content: flex-start
      height: min-content
      margin-bottom: 0
      
      &__left
        margin-right: 0
        max-width: 290px
        height: 300px
        margin-bottom: 14px
      &__right
        flex-direction: row
        height: min-content
        margin-bottom: 36px
      &__item
        margin-right: 14px
        width: 138px
        height: 97px
        &:last-child
          margin-right: 0
    &-info
      display: flex
      flex-direction: column
      align-items: center
      &__titel
        font-size: 28px
        line-height: 36px
        margin-bottom: 15px
      &__text
        font-size: 16px
        line-height: 28px
        margin-bottom: 24px
        text-align: center
      &__button
        font-size: 16px
        line-height: 22px
  .trending
    margin-bottom: 48px
    &-navbar
      margin-bottom: 36px
    &__titel
      font-size: 28px
      line-height: 36px
    &__list
      width: 290px
    &__item
      font-size: 16px
      line-height: 22px
      &--active
        font-weight: bold
        color: $dark
    &-ware
      min-width: 290px
      &__product-cell
        margin-bottom: 20px
        &_hidden
          display: flex
      &__item
        margin-bottom: 13px
        width: 140px
        height: 170px
      &__titel
        font-size: 16px
        line-height: 20px
        margin: 0
      &__buy
        justify-content: flex-start
        align-items: center
      &__price
        font-size: 14px
        line-height: 24px
        margin-right: 9px
        margin-left: 0
      &__cart
        width: 12px
        height: 13px
      &__wrapper
        width: 140px
        height: 234px
      &__see-more
        width: 140px
        height: 170px
      &__button
        justify-content: center
        align-items: center
      &__plus
        width: 25px
        height: 32px
        margin-bottom: 21px
      &__text
        font-size: 20px
        margin: 0      
  // .img
  //   &-2
  //     width: 252px
  //   &-3
  //     width: 175px
  //     top: 67%
  //   &-4
  //     width: 183px
  //   &-5
  //     width: 151px
  //   &-6
  //     width: 300px
  //   &-7
  //     width: 240px
@media ( max-width: 521px)
  .trending
    &-ware
      &__product-cell
        &_hidden
          display: none
@media ( max-width: 320px)
  .container
    max-width: 272px
    overflow: visible
  .header
    padding-top: 0
    padding-bottom: 24px
    &-menu
      height: 64px
  .collection
    &-block
      &__left
        min-width: 290px
        height: 300px
    &-info
      margin-left: -9px
      &__titel
        width: 290px
      &__text
        width: 280px
  .trending
    &-ware
      margin: auto
      margin-left: -9px
      &__product-cell
        &_hidden
          display: none


