@media ( max-width: 1200px)
  .container
    max-width: 960px
  .hero
    &-container
      width: 90%
      background-position-x: 200px
    &-wrapper
      background-position-x: 197px
      padding-left: 80px


@media ( max-width: 1300px)
  .hero
    &-container
      width: 90%

@media ( max-width: 992px)
  .container
    max-width: 720px
  .hero
    &-container
      background-position-x: 100px
    &-wrapper
      padding-left: 50px
      background-position-x: 90px
    &__titel
      font-size: 48px
      line-height: 60px
      margin-bottom: 20px
      width: 410px
    &__text
      font-size: 18px
      line-height: 32px
      margin-bottom: 36px
      width: 400px

@media ( max-width: 768px)
  .container
    max-width: 85%
  .header
    padding-top: 8px
    padding-bottom: 29px
    &-menu
      height: 65px
      &__list
        &--hidden
          display: none
      &__menu-button
        display: flex
        justify-content: space-between
        flex-direction: column
        background-color: #ffffff
        border: none
        cursor: pointer
        width: 22px
        height: 20px
        padding: 0
  .menu-button
    &__line
      display: inline-block
      height: 2px
      width: 100%
      background-color: $dark
      border-radius: 5px
  .hero
    padding-bottom: 80px
    &-container
      width: 95%
      background-position-x: 30px
      background-position-y: -370px
    &-wrapper
      padding-left: 28px
      background-position-x: 25px
    &__hashtag
      margin-bottom: 24px
      margin-top: 36px
    &__button
      margin-bottom: 42px
    &-payment
      margin-bottom: 36px
      &__text
        margin-right: 20px


@media ( max-width: 576px)
  .container
    width: 540px
  .header
    &-menu
      max-width: 540px
  .hero
    padding-bottom: 64px
    &-container
      width: 100%
      background-position-x: 55%
    &-wrapper
      width: 100%
      padding-left: 0
      background: none
      text-align: center
      align-items: center
    &__hashtag
      margin-top: 381px
      padding: 2px 26px  
      margin-bottom: 22px
    &__titel
      width: 90%
      font-size: 32px
      line-height: 40px
      margin-bottom: 20px
    &__text
      width: 90%
      font-size: 16px
      line-height: 28px
      margin-bottom: 21px
    &__button
      padding: 13px 48px
      font-size: 16px
      line-height: 22px
      margin-bottom: 17px
    &-payment
      margin-bottom: 36px
      &__wrapper
        flex-wrap: wrap
        justify-content: center
      &__text
        &:nth-child(4)
          margin-right: 0
          

@media ( max-width: 320px)
  .container
    max-width: 272px

  
  .header
    padding-top: 0
    padding-bottom: 24px
    &-menu
      height: 64px



