*
  box-sizing: border-box
  
body
  font-family: 'Open Sans', sans-serif

@font-face 
  font-family: 'HK Grotesk'
  src: url('../fonts/HKGrotesk-Regular.woff') format("woff")
  src: url('../fonts/HKGrotesk-Regular.woff2') format("woff2")
  font-weight: 400
  font-display: swap

@font-face 
  font-family: 'HK Grotesk'
  src: url('../fonts/HKGrotesk-SemiBold.woff') format("woff")
  src: url('../fonts/HKGrotesk-SemiBold.woff2') format("woff2")
  font-weight: 600
  font-display: swap

@font-face 
  font-family: 'HK Grotesk'
  src: url('../fonts/HKGrotesk-Bold.woff') format("woff")
  src: url('../fonts/HKGrotesk-Bold.woff2') format("woff2")
  font-weight: 700
  font-display: swap

button
  &:focus
    outline: none

.container
  width: 1140px
  margin: auto


  

