@media ( max-width: 768px)
  body
    padding-top: 102px
  .container
    max-width: 85%
  .header
    padding-top: 8px
    padding-bottom: 29px
    background-color: $light
    &__mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-menu
      height: 65px
      &__list
        display: none
        position: fixed
        left: 0
        right: 0
        top: 18px
        background-color: $light
        border: 1
        width: 95%
        margin: auto
        max-height: 750px
        overflow: scroll
        &_visible
          max-height: 100%
          overflow: auto
          display: flex
          flex-direction: column
          align-items: flex-start
          padding: 36px 32px 0 32px
      &__item
        margin-bottom: 20px
        width: 100%
      &__button
        width: 100%
      &__menu-button
        display: flex
        // justify-content: space-between
        // flex-direction: column
        background-color: $light
        border: none
        cursor: pointer
        width: 22px
        height: 20px
        padding: 0
          
  .menu-button
    display: block
    position: absolute
    right: 35px
    top: 40px
    width: 30px
    height: 2px
    background-color: $dark
    border: none
    cursor: pointer
    &:before 
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      width: 30px
      height: 2px
      background-color: $dark
      transition: transform 0.2s
      margin-top: -7px
    &:after 
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      width: 30px
      height: 2px
      background-color: $dark
      transition: transform 0.2s
      margin-top: 7px
    &--active 
      height: 0
      &:before 
        transform: rotate(45deg)
        margin-top: 0
      &:after 
        transform: rotate(-45deg)
        margin-top: 0
    &__line
      display: inline-block
      height: 2px
      width: 100%
      background-color: $dark
      border-radius: 5px
      &:focus
        background-color: red
        
  .hero
    padding-bottom: 80px
    margin: 0
    &-container
      width: 95%
      background-position-x: 30px
      background-position-y: -370px
    &-wrapper
      padding-left: 28px
      background-position-x: 25px
    &__hashtag
      margin-bottom: 24px
      margin-top: 36px
    &__button
      margin-bottom: 42px
    &-payment
      margin-bottom: 36px
      &__text
        margin-right: 20px
  .collection
    &-wrapper
      max-width: 672px
      margin-left: -11px
      overflow: visible
    &-block
      margin-bottom: 34px

      &__left
        // flex-basis: 48%
      &__item
        max-width: 320px
        max-height: 230px
    &-info
      &__text
        margin-bottom: 28px
  .trending
    margin-bottom: 39px
    &-ware
      max-width: 608px
      margin: auto
      justify-content: space-between
      &__product-cell
        margin-right: 9px
  .testimonial
    padding-bottom: 80px
    &-slider
      max-width: 700px
    &__item
      margin-bottom: 0
      width: 80px
      height: 92px
    &__text
      margin-bottom: 36px
    &__titel
      margin-bottom: 41px
      &_hidden
        display: inline-block
  .stories
    &-info
      &__text
        max-width: 510px
    &__slide
      display: flex
      // flex-direction: column;
      // width: 100%
      // height: 100%
      flex-wrap: wrap
      margin-top: 130px
      width: 693px
    &-slide
      margin-left: -28px
      &__wrapper
        margin-left: 0
        // height: 50%
      &__card
        // display: flex
        // align-items: center
        // flex-direction: column
        margin-right: 4px
        // width: 100% !important
    &__button
      &--prev
        top: 34%
        right: 56%
      &--next
        top: 34%
        right: 44%
  .newsletter
    &__bg
      &_1
        left: -963px
        width: 1241px
        height: 954px
        border: 150px  solid rgba(255, 255, 255, 0.05)
      &_2
        right: -1126px
        width: 1241px
        height: 954px
        border: 150px  solid rgba(255, 255, 255, 0.05)
  .thanks
    &__titel
      font-size: 36px
      line-height: 68px
    &__text
      font-size: 24px
      line-height: 49px

