.newsletter
  background-color: $light-blue
  padding: 100px 0
  margin-bottom: 128px
  position: relative
  &__bg
    &--1
      position: absolute
      top: -515px
      left: -738px
      width: 1170px
      height: 954px
      border: 229px solid rgba(255, 255, 255, 0.05)
      border-radius: 50%
    &--2
      position: absolute
      bottom: -515px
      right: -738px
      width: 1170px
      height: 954px
      border: 229px solid rgba(255, 255, 255, 0.05)
      border-radius: 50%
  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1073px
  &-info
    max-width: 486px
    &__titel
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      color: $light
      margin-bottom: 14px
    &__text
      margin: 0
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      color: $light
  &__subscribe
    display: flex
    align-items: center
    width: 447px
    justify-content: flex-end
    &-wrapper
      width: 100%
    

.subscribe
  background: $light
  border-radius: 8px
  border: 1px solid #C3CAD9
  &__input
    background-image: url('../img/email.svg')
    background-repeat: no-repeat
    background-position: 20px center
    border: none
    padding: 17px 20px 17px 48px
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    border-radius: 8px
  &__button
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    text-align: center
    color: $light
    background-color: $dark
    padding: 12px 24px 11px 24px
    border-radius: 4px
    border: none
    margin: 4px


